// Mixins in here
.flex(@direct: row; @just: center; @align: center) {
  display: flex;
  flex-direction: @direct;
  justify-content: @just;
  align-items: @align;
}
.aqua-button() {
  background:teal;
  color: #fff;
  padding: 13px 30px;
  outline: none;
  text-align: center;
  border-radius: 15px;
  width: 83%;
  font-size: 1.8rem;
}